.cubie {
  margin: 0;
  padding: 0;
  font: 12px/1.67 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}
/* 限定在.cubie内的样式 */
.cubie {
  /* 防止元素样式被项目样式重置 */

  /* jQuery Validation Plugin  */

}
.cubie ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  overflow: visible;
}
.cubie ::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  border-width: 1px 1px 1px 6px;
  min-height: 18px;
}
.cubie ::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
.cubie ::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
.cubie ::-webkit-scrollbar-corner {
  background: transparent;
}
.cubie div,
.cubie dl,
.cubie dt,
.cubie dd,
.cubie ul,
.cubie ol,
.cubie li,
.cubie h1,
.cubie h2,
.cubie h3,
.cubie h4,
.cubie h5,
.cubie h6,
.cubie pre,
.cubie form,
.cubie fieldset,
.cubie input,
.cubie textarea,
.cubie p,
.cubie blockquote,
.cubie th,
.cubie td {
  margin: 0;
  padding: 0;
  font: 12px/1.67 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.cubie .error {
  color: #FF6600;
  padding: 0 5px;
}
.cubie .close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.cubie .close:hover,
.cubie .close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
.cubie button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}
.cubie .thumbnails {
  margin-left: -20px;
  list-style: none;
  *zoom: 1;
}
.cubie .thumbnails:before,
.cubie .thumbnails:after {
  display: table;
  line-height: 0;
  content: "";
}
.cubie .thumbnails:after {
  clear: both;
}
.cubie .row-fluid .thumbnails {
  margin-left: 0;
}
.cubie .thumbnails > li {
  float: left;
  margin-bottom: 20px;
  margin-left: 20px;
}
